{{#if article}}
  {{#each article}}
    <div class="card border-secondary mb-2">
      <div class="card-body">
        <h5 class="card-title">{{headline}}</h5>
        <img class="card-img-top float-left mr-3" src="{{imageURL}}" alt="no image available"
          style="width: 20vw; float: left">
        <p class="card-text">
          {{summary}}
          <a href="{{link}}" target="_blank" class="ml-2">Read more</a>
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">
          <a href="/comment/{{_id}}">
            <button class="btn-info float-right ml-1">Comment</button>
          </a>
          <button class="btn-danger float-right mr-1 delete-article" article-id="{{_id}}">Delete</button>
        </small>
      </div>
    </div>
  {{/each}}
{{else}}
  <div class="mb-5">
    <h4>
      No articles.
      <a class="btn btn-warning" href="/api/scrape" role="button" onClick="window.location.reload();">
        Try Loading Articles
      </a>
    </h4>
    <p>(press 2x if doesn't reload automatically)</p>
  </div>
{{/if}}